mixin products()
	.products
		ul.products__list
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/cat-img-1.jpg", alt="")
					div.products__item-title Прицел ИТ-610 V 2.0
					div.products__item-price 598000 р.
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/cat-img-2.jpg", alt="")
					div.products__item-title Монокуляр ИТ-М313
					div.products__item-price 549000 р.
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/cat-img-3.jpg", alt="")
					div.products__item-title Прицел ИТ-610
					div.products__item-price 549800 р.
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/cat-img-4.jpg", alt="")
					div.products__item-title Насадка ИТ-615 ТН
					div.products__item-price 679000 р.
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/cat-img-5.jpg", alt="")
					div.products__item-title Прицел ИТ-315
					div.products__item-price 879000 р.
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/cat-img-6.jpg", alt="")
					div.products__item-title Прицел ИТ-310
					div.products__item-price 929000 р.
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/cat-img-7.jpg", alt="")
					div.products__item-title Насадка ИТ-315 ТН
					div.products__item-price 995700 р.
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/cat-img-8.jpg", alt="")
					div.products__item-title Насадка ИТ-310 ТПН
					div.products__item-price 1276500 р.


mixin products-category()
	.products.products_category
		ul.products__list
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/category-1.jpg", alt="")
					div.products__item-title Луки
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/category-2.jpg", alt="")
					div.products__item-title Прицелы
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/category-3.jpg", alt="")
					div.products__item-title Сети
			li.products__item
				a.products__link(href="#link")
					div.products__img
						img(src="assets/images/content/category-4.jpg", alt="")
					div.products__item-title Капканы

