mixin sidebar()
	aside.sidebar
		button.sidebar__trigger Категории
		nav.side-nav
			ul.side-nav__list
				li.side-nav__item
					.side-nav__link.side-nav__link_active(href="#link-1") Охота
					ul.side-nav__sub
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Луки
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Прицелы
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Сети
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Капканы
				li.side-nav__item
					.side-nav__link(href="#link-2") Рыбалка
					ul.side-nav__sub
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Луки
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Прицелы
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Сети
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Капканы
				li.side-nav__item
					.side-nav__link(href="#link-3") Ножи
					ul.side-nav__sub
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Луки
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Прицелы
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Сети
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Капканы
				li.side-nav__item
					.side-nav__link(href="#link-4") Запчасти
					ul.side-nav__sub
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Луки
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Прицелы
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Сети
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Капканы
				li.side-nav__item
					.side-nav__link(href="#link-5") Тип товара
					ul.side-nav__sub
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Луки
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Прицелы
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Сети
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Капканы
				li.side-nav__item
					.side-nav__link(href="#link-6") Тип товара
					ul.side-nav__sub
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Луки
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Прицелы
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Сети
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Капканы
				li.side-nav__item
					.side-nav__link(href="#link-7") Тип товара
					ul.side-nav__sub
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Луки
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Прицелы
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Сети
						li.side-nav__sub-item
							a.side-nav__sub-link(href="#") Капканы
