.breadcrumbs
	margin-bottom 44px
	display block
	span
		font-family Arial, Helvetica, sans-serif
		font-size 20px
		font-weight 400
		line-height 35px
		+below(425px)
			font-size 16px
	a
		color #001e8e
		text-decoration underline
		&:hover
			text-decoration none


.page_card
	.breadcrumbs
		margin-bottom 23px

