mixin relative()
	.relative
		h2.relative__title
			span популярные товары
		ul.relative__list
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/product-1.png", alt="product")
					.relative__item-title Монокуляр ИТ-М313
					.relative__item-price 549800 р.
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/product-2.png", alt="product")
					.relative__item-title Прицел ИТ-610
					.relative__item-price 549800 р.
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/product-1.png", alt="product")
					.relative__item-title Монокуляр ИТ-М313
					.relative__item-price 549800 р.
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/product-2.png", alt="product")
					.relative__item-title Прицел ИТ-610
					.relative__item-price 549800 р.
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/product-1.png", alt="product")
					.relative__item-title Монокуляр ИТ-М313
					.relative__item-price 549800 р.


mixin relative-second()
	.relative.relative_second
		h2.relative__title
			span новинки
		ul.relative__list
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/prod-2.png", alt="product")
					.relative__item-title Насадка ИТ-615 ТН
					.relative__item-price 549800 р.
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/prod-1.png", alt="product")
					.relative__item-title Тепловизор PULSAR Quantum HD19S
					.relative__item-price 549800 р.
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/prod-2.png", alt="product")
					.relative__item-title Насадка ИТ-615 ТН
					.relative__item-price 549800 р.
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/prod-1.png", alt="product")
					.relative__item-title Тепловизор PULSAR Quantum HD19S
					.relative__item-price 549800 р.
			li.relative__item
				a.relative__link(href="#")
					.relative__img
						img(src="assets/images/content/prod-2.png", alt="product")
					.relative__item-title Насадка ИТ-615 ТН
					.relative__item-price 549800 р.
