html,
body
	height 100%

.page
	background #FFF
	color #000
	font-weight normal
.page__wrapper
	min-height 100%
	margin-bottom -200px
	overflow hidden
.page__buffer
	height 200px
.in
	margin auto
	max-width 1308px

.in_second
	margin auto
	max-width 1210px

.in_third
	margin auto
	max-width 1180px


.title
	color #000000
	font-family $benderBit
	font-size 25px
