.page
	background #FFF
	color #000
	font-weight normal
.page__wrapper
	min-height 100%
	margin-bottom -200px

* html .page__wrapper
	height 100%

.page__buffer
	height 200px

.in
	margin auto
	max-width 1308px

.in_second
	margin auto
	max-width 1210px

.title
	color #000000
	font-family $benderBit
	font-size 25px


