@font-face {
    font-family: 'benderregular';
    src: url('../fonts/bender/bender-webfont.woff2') format('woff2'),
         url('../fonts/bender/bender-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderblack';
    src: url('../fonts/bender/bender-black-webfont.woff2') format('woff2'),
         url('../fonts/bender/bender-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderbold';
    src: url('../fonts/bender/bender-bold-webfont.woff2') format('woff2'),
         url('../fonts/bender/bender-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderbold_italic';
    src: url('../fonts/bender/bender-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bender/bender-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


$benderB = 'benderbold', Helvetica, Arial, sans-serif
$benderBit = 'benderbold_italic', Helvetica, Arial, sans-serif
$benderR = 'benderregular', Helvetica, Arial, sans-serif
$benderBlk = 'benderblack', Helvetica, Arial, sans-serif
