extends /blocks/layout-default/layout-catalog

include /blocks/header/header
include /blocks/footer/footer

include /blocks/breadcrumbs/breadcrumbs
include /blocks/products/products
include /blocks/filter/filter
include /blocks/sidebar/sidebar

block head
	- var pageTitle = 'Магазин';

block content
	.page__wrapper
		+header()

		main.main
			+breadcrumbs()
			+sidebar()
			+filter()
			+products()

	.page__buffer

	+footer()

