extends /blocks/layout-default/layout-card

include /blocks/header/header
include /blocks/footer/footer

include /blocks/breadcrumbs/breadcrumbs
include /blocks/sidebar/sidebar
include /blocks/card/card


block head
	- var pageTitle = 'Карточка товара';

block content
	.page__wrapper
		+header()

		main.main
			+breadcrumbs-product-card()
			+sidebar()
			+card()

	.page__buffer

	+footer()

