// .page

.loaded
	// background-color #FFF
	animation loaded .3s ease


@keyframes loaded
	0%
		background-color rgba(0,0,0, .5)
		transition background-color opacity .3s ease
	100%
		background-color rgba(255,255,255, 1)



