mixin categories()
	.categories
		ul.categories__list
			li.categories__item.categories__item_1
				a.categories__item-title(href="#") Охота
				ul.categories__sub
					li.categories__sub-item
						a.categories__sub-link(href="#") Тепловизоры
					li.categories__sub-item
						a.categories__sub-link(href="#") Луки
					li.categories__sub-item
						a.categories__sub-link(href="#") Ружья
					li.categories__sub-item
						a.categories__sub-link(href="#") Патроны
					li.categories__sub-item
						a.categories__sub-link(href="#") Больше товаров

			li.categories__item.categories__item_2
				a.categories__item-title(href="#") Рыбалка
				ul.categories__sub
					li.categories__sub-item
						a.categories__sub-link(href="#") Удочки
					li.categories__sub-item
						a.categories__sub-link(href="#") Спиннинги
					li.categories__sub-item
						a.categories__sub-link(href="#") Снасти
					li.categories__sub-item
						a.categories__sub-link(href="#") Приманки
					li.categories__sub-item
						a.categories__sub-link(href="#") Больше товаров
			li.categories__item.categories__item_3
				a.categories__item-title(href="#") Еще раздел
				ul.categories__sub
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
			li.categories__item.categories__item_4
				a.categories__item-title(href="#") Еще раздел
				ul.categories__sub
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
			li.categories__item.categories__item_5
				a.categories__item-title(href="#") Еще раздел
				ul.categories__sub
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел
					li.categories__sub-item
						a.categories__sub-link(href="#") Подраздел

