.categories
	display block
	&__list
		font-size 0
	&__item
		margin-right 30px
		margin-right ratio-percentage(30,1307)
		margin-bottom 33px
		display inline-block
		vertical-align top
		width 236px
		width ratio-percentage(236,1307)
		min-height 323px
		border 3px solid #7c7c7c
		&:nth-child(5n)
			margin-right 0
		+below(1088px)
			width 31.8%
			&:nth-child(3n)
				margin-right 0
		+below(631px)
			width 48.8%
			&:nth-child(2n)
				margin-right 0
			&:nth-child(3n)
				margin-right ratio-percentage(30,1307)
		+below(425px)
			margin-right 0
			width 100%
	&__item_1
		background #3a3725 url('../images/general/cat-1.jpg') 50% 100% / cover no-repeat
	&__item_2
		background url('../images/general/cat-2.jpg') 50% 100% / cover no-repeat
	&__item_3
		background url('../images/general/cat-3.jpg') 50% 100% / cover no-repeat
	&__item_4
		background url('../images/general/cat-3.jpg') 50% 100% / cover no-repeat
	&__item_5
		background url('../images/general/cat-3.jpg') 50% 100% / cover no-repeat
	&__item-title
		padding 18px 0 17px
		display block
		background #feb900
		font-family $benderB
		font-size 25px
		text-align center
		text-decoration none
		color #000
		&:hover
			background darken(#feb900, 05)
		+below(682px)
			font-size 22px
	&__sub
		padding 28px 26px 0px 30px
	&__sub-item
		margin-bottom 0px
	&__sub-link
		display block
		color #ffffff
		font-family $benderR
		font-size 23px
		line-height 40px
		text-decoration underline
		text-shadow 1px 2px 0 #000000
		&:hover
			text-decoration none
