.news
	display block
	&__title
		margin-bottom 50px
		color #000000
		font-family $benderB
		font-size 40px
		line-height 35px
		text-transform uppercase
		+below(768px)
			margin-bottom 20px
			font-size 33px
	&__items
		font-size 30px
		font-family $benderR
		font-weight normal
		line-height 35px
		+below(768px)
			font-size 25px
	&__item
		margin-bottom 50px
		+below(768px)
			margin-bottom 20px
		a
			color #3d52a6
			text-decoration underline

	// &__text

	&__date
		font-size 20px

