mixin card()
	.card
		h1.card__title Прицел ИТ- 610 v 2.0
		.card__w
			.card__left
				.card__slider
					ul.card__list
						li.card__item
							a.card__link(href="#link-1")
								img(src="assets/images/content/product-big-img.jpg", alt="product-img")
						li.card__item
							a.card__link(href="#link-1")
								img(src="assets/images/content/product-big-img.jpg", alt="product-img")
						li.card__item
							a.card__link(href="#link-1")
								img(src="assets/images/content/product-big-img.jpg", alt="product-img")
						li.card__item
							a.card__link(href="#link-1")
								img(src="assets/images/content/product-big-img.jpg", alt="product-img")

					ul.card__thumbs
						li.card__thumbs-item
							a.card__thumbs-link(href="#link-1", alt="thumbs-img")
								img(src="assets/images/content/product-thumb-1.jpg", alt="")
						li.card__thumbs-item
							a.card__thumbs-link(href="#link-2", alt="thumbs-img")
								img(src="assets/images/content/product-thumb-2.jpg", alt="")
						li.card__thumbs-item
							a.card__thumbs-link(href="#link-3", alt="thumbs-img")
								img(src="assets/images/content/product-thumb-3.jpg", alt="")
						li.card__thumbs-item
							a.card__thumbs-link(href="#link-4", alt="thumbs-img")
								img(src="assets/images/content/product-thumb-4.jpg", alt="")

				.card__desc
					h2 Описание ИТ - 610 v 2.0
					p Компактный водо- и пыленепроницаемый прочный прицел на неохлаждаемой микроболометрической матрице. Матрица обеспечивает высокое качество изображения в сложных погодных условиях. Темнота, яркий свет и засветка не являются помехой для прибора. Полная бесшумность в работе достигается благодаря отсутствию шторки. Компактная и эргономичная конструкция позволит вести прицельную стрельбу с максимальным удобством. Ударопрочная конструкция прицела позволяет использовать его на оружии крупного калибра. Есть возможность пристрелки на 4 профиля со сменными параметрами (калибр, расстояние, тип боеприпаса). Символьное меню интерфейса позволяет быстро настраивать прицелы под изменяющиеся погодные условия.

			.card__right
				button.card__button(type="button") в корзину
				.card__specs
					h2.card__specs-title Характеристики:
					.card__specs-row
						.card__specs-row-title Матрица
						ul.card__specs-list
							li.card__specs-item
								span.card__specs-item-term Разрешение
								span.card__specs-item-def 384×288
							li.card__specs-item
								span.card__specs-item-term Частота
								span.card__specs-item-def 60 Гц

					.card__specs-row
						.card__specs-row-title Оптика
						ul.card__specs-list
							li.card__specs-item
								span.card__specs-item-term Объектив
								span.card__specs-item-def 100 мм
							li.card__specs-item
								span.card__specs-item-term Оптическое увеличение
								span.card__specs-item-def 5,5
							li.card__specs-item
								span.card__specs-item-term Угол поля зрения
								span.card__specs-item-def 3,8×2,8 град
							li.card__specs-item
								span.card__specs-item-term Цифровое увеличение
								span.card__specs-item-def ×2, ×4

					.card__specs-row
						.card__specs-row-title Электроника
						ul.card__specs-list
							li.card__specs-item
								span.card__specs-item-term Время работы
								span.card__specs-item-def 4-6 часов
							li.card__specs-item
								span.card__specs-item-term Элементы питания CR123
								span.card__specs-item-def 2 шт

					.card__specs-row
						.card__specs-row-title Электроника
						ul.card__specs-list
							li.card__specs-item
								span.card__specs-item-term Дальность обнаружения
								span.card__specs-item-def 3500 м
							li.card__specs-item
								span.card__specs-item-term Дальность распознавания
								span.card__specs-item-def 1650 м
							li.card__specs-item
								span.card__specs-item-term Дальность идентификации
								span.card__specs-item-def 440 м

					.card__specs-row
						.card__specs-row-title Эксплутационные параметры
						ul.card__specs-list
							li.card__specs-item
								span.card__specs-item-term Габариты
								span.card__specs-item-def 281×88×82 мм
							li.card__specs-item
								span.card__specs-item-term Диапазон рабочих температур
								span.card__specs-item-def от -40 до +60 °С
							li.card__specs-item
								span.card__specs-item-term Масса
								span.card__specs-item-def 0,8 кг


		.card__adv
			h2.card__adv-title
				span преимущества
			ul.card__adv-list
				li.card__adv-item
					span Алюминиевый корпус
				li.card__adv-item
					span Ударная стойкость на крупных калибрах
				li.card__adv-item
					span Герметичность
				li.card__adv-item
					span Сохранность прицельных настроек
				li.card__adv-item
					span Защита от запотевания
				li.card__adv-item
					span Компактность
				li.card__adv-item
					span Электронная калибровка
				li.card__adv-item
					span Эргономичность
				li.card__adv-item
					span Интуитивное меню

		button.card__button(type="button") в корзину

