mixin footer()
	footer.footer
		.footer__in
			.footer__w
				.footer__col
					.footer__logo Blademan
					.footer__contacts
						.footer__phone +7 (917) 564-95-93
						a.footer__email(href='mailto:mail@gg-shop.ru') mail@gg-shop.ru
				.footer__col
					nav.footer__nav
						ul.footer__list
							li.footer__item
								a.footer__link(href="#link") GG-COMPANY
							li.footer__item
								a.footer__link(href="#link") О компании
							li.footer__item
								a.footer__link(href="#link") Доставка и оплата
							li.footer__item
								a.footer__link(href="#link") Отзывы
				.footer__col
					.footer__address Москва.<br/> Петрозаводская 17/1 <a href='#link'>Показать на карте</a>

				.footer__col
					nav.footer__nav
						ul.footer__list
							li.footer__item
								a.footer__link(href="#link") Диллерам
